%section
  .row
    .span16
      - unless signed_in?
        %h3 Sign in first to explore the provider's API
        %p= link_to "Sign in with OAuth 2 provider", user_omniauth_authorize_path(:predicsis), :class => "btn primary"
      - else
        %h2 Explore the api
        .well
          = link_to "My Credentials", explore_api_path(:me), :class => "btn", "data-explore" => []

        %p
          %pre#display-json
            Select one of the api methods above

